body {
  height: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.signup-container, .login-container, .todo-container {
  width: 60%;
  margin-top: 50px;
  padding: 30px;
  background: rgba(225,225,225,0.25)	;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: white;
}
.editable {
    cursor: pointer;
}
.error-message {
    color: #dc3545;
    font-size: 80%;
    margin-top: 5px;
}
.navbar{
  background-color:#142d4c;
}
.btn{
    background-color:#142d4c;
    color: #f67280;
}
.btn:hover{
  background-color: #f67280;
  color:#142d4c;
  
}
.add{
    background-color:#142d4c;
    color: white;
}
.de{
  background: #f67280; 
  color: #142d4c;
}
.de:hover{
  background-color:#142d4c;
  color: #f67280;
}
